$tab:  768px;
$pc: 1025px;

@keyframes ready {
    0% {
        color: #fff;
    }

    50% {
        color: #ff0000;
    }

    100% {
        color: #fff;
    }
}

@mixin before ($color) {
    border-left: solid 1px $color;
    border-top: solid 1px $color;
    border-bottom: solid 1px $color;
    left: 0;
}

@mixin after ($color) {
    content: '';
    border-top: solid 1px $color;
    border-right: solid 1px $color;
    border-bottom: solid 1px $color;
    right: 0;
}

