
// Fonts
@import url('https://fonts.googleapis.com/css?family=Cute+Font');
@import url("https://fonts.googleapis.com/css?family=Kosugi+Maru");

// Variables
@import 'variables';

//file
@import 'reset';



html {
  height: 100%;
}

body {
  background: #f8fafc;
  font: {
    family: "Cute Font";
  }
  height: 100%;
}

.wrapper {
  height: 100%;
}
